/* Elements Checklist:  */

/*  base */
@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,900);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
*{margin:0;padding:0;box-sizing: border-box;}

html{
  overflow-x:hidden;
}

/*  body */
body{
  background:#FFF;
  color: #16191D;
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  word-spacing: 0.041em;
  line-height: 1.25em;
  text-decoration: none;
  overflow-x:hidden;
}
body, html {
    height: 100%;
}

/*  .bg
(Background image) */
.bg { 
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.fullscreen-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(images/om-point.png) no-repeat;
  background-size: cover;
}
video {
  width: 100%;
}

/*  header  */
header{
  background: none;
  display: block;
  top: 0%;
  padding: 2%;
  width:100%;
  top: 0;
  z-index: 1;
  position: fixed;
}

#menu {
  font-size: 2em;
}
/*  nav */

/*  a   */

/*  h1  */
h1 {
  font-family: 'Raleway', sans-serif; 
  font-weight: 900;
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
}

/*  h2  */
h2 {
  font-family: 'Raleway', sans-serif; 
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif; 
  color: #D3D3D3;
  font-weight: 900;
  font-size: 5em;
  padding-bottom: 2em;
  text-transform: uppercase;
  text-align: center;
}

/*  p   */

/*  section */
section {
  max-width: 100%;
  margin: auto;
  padding:2em 2em 2em 2em;
  clear: both;
  position: relative;
}

/* div #mySidenavMenu {
display: block;
}

* {
  column-gap: inherit;
}

#mySidenavMenu {
  background: white;
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 1100;
}

@media screen and (max-width: 1250px) and (min-width: 750px) {
#mySidenavMenu {
width: 40vw;
transition: left 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-nav-visible #mySidenavMenu {
top: 0px;
}

@media screen and (max-width: 1250px) and (min-width: 750px) {
.mobile-nav-visible #mySidenavMenu {
left: 60vw;
}

#mySidenavMenu .inner.faux-row-positioned-left-insert.faux-row-positioned-right-inset { 
height: 100%;
}

@media screen and (max-width: 1250px) and (min-width: 750px) {
.inner.faux-row-positioned-left-insert.faux-row-positioned-right-inset {
  position: absolute;
  left: 0px;
  margin-right: 4vw;
}
/*  button  */
button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: relative;
  z-index: 1;
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background-color: #f78fa7;
  box-shadow: inset 0 -3px rgba(0, 0, 0, .15);
}

/*  form 
/*  input 
(user input)  */
input {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}

/*  table   */

/*(side navigation panel div) */

/*.sidenav 
/*(inside side navigation panel div. The navigation menu links)*/ 
.sidenav {
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 60px;
    width: 30%;
    padding-left: 150px;
    visibility:hidden;
}
.open-sidenav {
    right: 0px;
    visibility: visible;
}

.sideNav-Full {
  width: 100%;
}
/*  side nav links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s
}
.sidenav h1 {
  text-align: left;
  font-weight: 400;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #000000;
}

/*  a .closebtn */
/*(inside side navigation panel div. Position and style the close button (top right corner) (linked)*/ 
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#SidenavMenu {
  padding-left: 20px;
  z-index: -2;
}

#contact {
  z-index: -3;
  text-align: center;
}

#contact p {
text-align: center;
}

#accommodation {
  z-index: -4;
}

#accommodation p {
padding: 35px;
}

#about {
  z-index: -5;
}

#about p {
  padding: 35px;
}

#nav-footer {
  top: 60%;
  z-index: 0;
}

.sidenav #nav-footer h2 {
  text-align: left;
}

/* back to the menu */

.Selected {
  z-index: -2;
}

.hide-menu-item {
  z-index: -4;
}

/*hide opening hours */
.nav-footerButtonOnly {
visibility: hidden;
}

/*(contact div)

.mainMenuItem 
(inside side navigation panel div) 

#mini-map 
(inside contact div)

#accommodation 
(accommodation div)

#book-now 
(button) (inside accommodation div)

/*  #main
(main page contents to be pushed left by side navigation panel. Styles page content - push the page content to the left when you open the side navigation) */

#main {
    padding: 20px;
    padding-top: 8%;
    height: 75%;
}

nav a {
  font-family: 'Raleway', sans-serif; 
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #D3D3D3;
}
/* class for when user selects book online form */
.main-transform {
    left: -15%;
}
.arrow-mainTransform {
width: 10%;
}

.fullscreen-bg-Changeout {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("https://farm6.staticflickr.com/5468/17079563764_84afb38569_b.jpg") no-repeat;
  background-size: cover;
}

.fullscreen-bg__video-Changeout {
visibility: hidden;
}

/* class for when user selects gallery or location #main becomes #mainShiftLeft and background becomes white 

.fullscreen-bg-noColor {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: white;
  background-size: cover;
}

.fullscreen-bg__video-noColor {
visibility: hidden;
}
/*.main-transform
(inside #main div these are blocks that will be shown or hidden depending on event) (id unique to section ie. main-transform-bookings)

/*  #logo
(inside header) */
#logo{
  float: left;
  padding: 0.5%;
  margin: 1.5% 0% 0% 0%;
  top: 0;
  width: 10em;
  z-index: 1;
}
/*.container
(contain hamburger menu icon inside header) */

.container {
    display: inline-block;
    cursor: pointer;
}

/*  #hamburger
(hamburger menu icon inside header) */
#hamburger-icon {
  float: right;
  padding: 0.5%;
  margin: 0% 0% 1.5% 0%;
  top: 0;
  z-index: 100;
}

/* .bar1 .bar2 .bar3  
(hamburger icon becomes 'X' when user clicks on it and side navigation panel is showing)  */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*  #menu
(main heading next to hamburger icon inside header) */
#menu {
float: right;
font-weight: 400;
font-size: 1.5em;
padding: 0.5%;
margin: 0% 0% 1.5% 0%;
top: 0;
}

/*  #bookings
(bookings section)  */
#bookings {
  display: block;
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  float: center;
  position: absolute;
}

#form-part-1 {
float: left;
left: 10em;
width: 50%;
margin: auto;
padding: 50px;
padding-top: 0;
position: absolute;
}

/*(inside #bookings section. One form but seperated whole form into divs so can float side by side)*/

#form-part-2{
float: left;
left: 25em;
width: 50%;
margin: auto;
padding: 50px;
padding-top: 0;
position: absolute;
}

#confirm-booking-button {
display: block;
padding-top: 50%;
}

#form{
  display: block;
  max-width: 35%;
}

/*(inside #bookings section. One form but seperated whole form into divs so can float side by side)*/

/*(gallery section)*/
#gallery #gallery-1 #gallery-2 {
  display: block;
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  float: center;
  position: absolute;
}

#gallery-1 {
  display: block;
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  float: center;
  position: absolute;
}

#gallery-2 {
  display: block;
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  float: center;
  position: absolute;
}

/* #arrow-left & #arrow-right
(arrows that will float (horizontally centered) either side of the gallery image)*/
#arrow-left {
  font-size: 30px;
  display: block;
  float: left;
  width: 25%;
  text-align: right;
  padding: 150px 0px 0px 0px;
}

#arrow-right {
  font-size: 30px;
  display: block;
  float:right;
  width: 25%;
  text-align: left;
  padding: 150px 0px 0px 0px;
}
/*  .img-container
(contains gallery images) */
.img-container {
    margin: auto;
    max-width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid none;
    position: relative;
    z-index: 1;
}

/*  .resize_fit_center  */
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.img-slide-in {
  right: 0%;
}
.img-slide-out {
  left: 100%;
}

/*#Om-Point-gallery
(image inside gallery section will slide to the left new image will slide in as it slides out)*/

#location {
  display: block;
  max-width: 100%;
  width: 100%;
  position: absolute;
}

#location nav a {
  color: black;
}

table {
  display: block;
  width: 35%;
  padding-right: 35px;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  max-width: 100%;
  padding-right: 3em;
}


/*.sub-menu-nav
(sub-menu navigation items effect map)

#map
(map inside location section. Updates depending on which sub-menu item user clicks - markers and color change)  */

#map {
    height: 20em;
    margin-left:35%;
    margin-right: 35%;
  }


.gallery-hide {
left: -100%;
}

.location-hide {
z-index: -101;
}

.bookings-hide {
z-index: -101;
}


#footer-menu {
  max-width: 100%;
  width: 100%;
  z-index: -3;
}

/*(opening hours nav at bottom left of main page)*/
#hours{
  display: block;
  float: left;
  margin: auto;
  width: 50%;
  text-align: left;
  font-size: 1.3em;
}

#book-online {
  display: block;
  float: left;
  margin: auto;
  width: 50%;
  text-align: right;
  font-size: 1.3em;
}

/*(bookings nav at bottom left of main page)

#social
(social media buttons (images))

.social-icon
(individual social media buttons)

/*  footer */
footer {
  background: transparent;
  display: block;
  padding:2%;
  position: relative;
}

.footer-nav, #social{
  bottom: 0.5% ;
  top: 0%;
  padding: 0%;
  text-align: center;
}

/*  .clearfix */
.clearfix:after {
  visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
}

/* media queries  */
@media only screen and (min-width:515px) and (max-width:2010px){
  #form table {
    max-width: 60%;
  }

}
@media only screen and (min-width:226px) and (max-width:1024px){
  #main{
    padding-top: 15%;
  }

  #form table{
    max-width: 90%;
  }

  #arrow-left #arrow-right {
    width: 10%;
  }

}
@media only screen and (min-width:226px) and (max-width:768px){
  #form table {
    max-width: 100%;
    padding: 1em;
  }
  #gallery {
    width: 100%;
  }
}
@media only screen and (min-width:465px) and (max-width:1440px){
}

